DJANGO_SECRET_KEY=troque-esta-chave
DJANGO_DEBUG=True
DJANGO_ALLOWED_HOSTS=127.0.0.1,localhost
AUTH_ENABLED=False

# Banco de dados MySQL
DB_ENGINE=mysql
DB_NAME=db_concimed
DB_USER=concimed
DB_PASSWORD=senha_aqui
DB_HOST=127.0.0.1
DB_PORT=3306
